<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<h2 th:text="'List of Vets..'"></h2>

<!--/*@thymesVar id="vet" type="astoppello.springframework.petclinic.model.Vet"*/-->
<h2>Veterinarians</h2>
<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialities</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet?.firstName + ' ' + vet?.lastName}">Jonh Smiht</td> <!--? null safe -->
        <td>
            <span th:each="speciality : ${vet.specialities}" th:text="${speciality.description + ' '}"></span>
            <span th:if="${vet.specialities?.size() == 0}">none</span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>